/* Navigation bar background color */
[data-bs-theme="dark"] header.bg-body {
  background-color: #252525;
}
[data-bs-theme="light"] header.bg-body {
    background-color: #F5F6F4;
}

/* Keep body background white */
[data-bs-theme="light"] body {
  background-color: #fff;
}

/* Dark mode - "In This Article" sub-headlines (Constructors, Properties, etc) - more emphasis */
[data-bs-theme="dark"] .affix ul li a.link-body-emphasis {
  color: rgba(255, 255, 255, 1);
}
/* Dark mode - "In This Article" member links  */
[data-bs-theme="dark"] .affix ul li a:not(.link-body-emphasis) {
  color: rgba(255, 255, 255, 0.65);
}
[data-bs-theme="dark"] .affix ul li a:not(.link-body-emphasis):hover,
[data-bs-theme="dark"] .affix ul li a:not(.link-body-emphasis):focus {
  color: rgba(255, 255, 255, 0.8);
}

/* Light mode - "In This Article" sub-headlines */
[data-bs-theme="light"] .affix ul li a.link-body-emphasis {
    color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}
/* Light mode - "In This Article" member links */
[data-bs-theme="light"] .affix ul li a:not(.link-body-emphasis) {
    color: rgba(0, 0, 0, 0.65);
}
[data-bs-theme="light"] .affix ul li a:not(.link-body-emphasis):hover,
[data-bs-theme="light"] .affix ul li a:not(.link-body-emphasis):focus {
    color: rgba(0, 0, 0, 0.75);
}

/* Custom type highlighting - Unity and LunyScript types */
.hljs-type {
    color: #4EC9B0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 17px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word
}

table {
    border-collapse: collapse;
}
th {
    font-size: 15px;
    color: var(--bs-heading-color) !important;
}

dt {
    line-height: 1.0;
    font-weight: normal;
    font-size: 16px;
}

#wrapper {
    min-height: 100%;
    position: absolute;
    width: -webkit-fill-available;
}

/* HEADINGS */

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 2.0;
}

h3 {
    font-size: 22px;
    line-height: 1.8;
    padding-bottom: 2px !important;
}
h4 {
    font-size: 18px;
    border-bottom: none !important;
}
/*
.h4::before {
    content: "Declaration";
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
*/

h5 {
    font-size: 14px;
    padding: 10px 0px;
    font-weight: bold;
}

article h1, article h2, article h3, article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h4 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

/* NAVBAR */

.navbar {
    border: none;
    /* Both navbars use box-shadow */
    -webkit-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
}

.subnav {
    border-top: 1px solid #ddd;
    /*
    background-color: #fff;
    */
}

.navbar-inverse {
    /*
    background-color: #262f39;
    */
    z-index: 100;
}

ul.level1.breadcrumb>li>a {
    /*
    color: #d54473;
    */
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    /*
    color: #fff;
    background-color: #262f39;
    */
    border-bottom: 3px solid transparent;
    padding-bottom: 12px;
    text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    /*
    color: #00cccc;
    background-color: #262f39;
    */
    border-bottom: 3px solid white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    /*
    color: #00cccc;
    background-color: #262f39;
    */
    border-bottom: 3px solid white;
    text-decoration: underline;
}

.navbar-form .form-control {
    border: none;
    border-radius: 20px;
}

/* SIDEBAR */

.toc {
    margin: 0px 1px 0px 0px;
    padding: 0 20px;
}

.toc .level1>li {
    font-weight: 400;
}

.toc .nav>li>a {
    /*
    color: #455463;
    */
    text-decoration: none;
}

.toc .nav>li>a:hover {
    /*
    color: #455463;
    */
    text-decoration: underline;
}

/*selected element in sidebar at level 2*/
ul.nav.level2>li.active.in>a.active {
    /*
    background: #222c37;
    color: #fff;
    */
    padding: 5px 8px;
    text-decoration: none;
    font-weight: normal;
}

.toc .nav>li.active>.expand-stub::before, .toc .nav>li.in>.expand-stub::before, .toc .nav>li.in.active>.expand-stub::before, .toc .nav>li.filtered>.expand-stub::before {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: #19e3b1 1px solid;
    font-size: 8px;
    /*
    background: #19e3b1;
    color: #fff;
    */
    content: "-";
    display: table;
    margin-top: 3px;
    text-align: center;
}

.toc .nav>li>.expand-stub::before, .toc .nav>li.active>.expand-stub::before {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: #19e3b1 1px solid;
    font-size: 8px;
    /*
    background: #19e3b1;
    color: #fff;
    */
    content: "+";
    display: table;
    margin-top: 3px;
    text-align: center;
}

.sidefilter {
    /*
    background-color: #fff;
    */
    border-left: none;
    border-right: none;
}

.sidefilter {
    /*
    background-color: #fff;
    */
    border-left: none;
    border-right: none;
}

.toc-filter {
    padding: 10px;
    margin: 0;
}

.toc-filter>input {
    border: 2px solid #ddd;
    border-radius: 20px;
}

.toc-filter>.filter-icon {
    display: none;
}

.sidetoc>.toc {
    /*
    background-color: #fff;
    */
    overflow-x: hidden;
    height: 100%;
}


.sidetoc {
    /*
    background-color: #ccf5f5;
    color: #ccf5f5;
    */
    border: none;
    padding-right: 8px;
    height: 100%;
}

.toc .nav>li.active>a {
    /*
    color: #000;
    */
    text-decoration: none;
    font-weight: bold;
}

.toc .nav>li.active>a:hover {
    /*
    color: #000;
    */
    text-decoration: underline;
}

.toc .nav>li.active>a:focus {
    /*
    color: #000;
    */
    text-decoration: underline;
}

button, a {
    /*
    color: #d54473;
    */
    cursor: pointer;
    text-decoration: underline;
}

button:hover, button:focus, a:hover, a:focus {
    /*
    color: #d54473;
    */
    text-decoration: none;
}

.affix>ul>li.active>a, .affix>ul>li.active>a:before {
    /*
    color: #d54473;
    */
    font-weight: bold;
}

.affix ul>li.active>a, .affix ul>li.active>a:before {
    /*
    color: #d54473;
    */
}

/* CODE HIGHLIGHT */

pre {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    /*
    padding: 20px;
    margin: 0 0 30px 0;
    border: #ddd 1px solid;
    */
    /*
    color: #455463;
    background: #fff;
    */
    font-size: 0.9375em;
    overflow: auto;
    border-radius: 0px;
}

/* Full width */
@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 100%;
    }
}
