/* Navigation bar background color */
[data-bs-theme="dark"] header.bg-body {
  background-color: #252525;
}
[data-bs-theme="light"] header.bg-body {
    background-color: #F5F6F4;
}

/* Keep body background white */
[data-bs-theme="light"] body {
  background-color: #fff;
}

/* Dark mode - "In This Article" sub-headlines (Constructors, Properties, etc) - more emphasis */
[data-bs-theme="dark"] .affix ul li a.link-body-emphasis {
  color: rgba(255, 255, 255, 1);
}
/* Dark mode - "In This Article" member links  */
[data-bs-theme="dark"] .affix ul li a:not(.link-body-emphasis) {
  color: rgba(255, 255, 255, 0.65);
}
[data-bs-theme="dark"] .affix ul li a:not(.link-body-emphasis):hover,
[data-bs-theme="dark"] .affix ul li a:not(.link-body-emphasis):focus {
  color: rgba(255, 255, 255, 0.8);
}

/* Light mode - "In This Article" sub-headlines */
[data-bs-theme="light"] .affix ul li a.link-body-emphasis {
    color: rgba(0, 0, 0, 1);
}
/* Light mode - "In This Article" member links */
[data-bs-theme="light"] .affix ul li a:not(.link-body-emphasis) {
    color: rgba(0, 0, 0, 0.65);
}
[data-bs-theme="light"] .affix ul li a:not(.link-body-emphasis):hover,
[data-bs-theme="light"] .affix ul li a:not(.link-body-emphasis):focus {
    color: rgba(0, 0, 0, 0.75);
}
